* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.g-body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #0f0;
  .btn {
    border: 1px solid #ccc;
  }
}

.red {
  color: #f00;
}
